<h1>About</h1>

Бакаев Денис Васильевич
                                    <br /><br />
Исходники некоторых моих проэктов с описанием представленны ниже:
                                                <br /><br />
Фарм бот для онлайн игры TimeZero:

<li><%= link_to "Shaolin", shaolin_path %></li>

Система шифрования коротких сообщений:

<li><%= link_to "Karnaval", karnaval_path %></li>



